
h1 { font-size: 3em; font-weight: bold; margin-top: 0;}

div#topHeaderRow {
   font-size: 0.9em;
}

.price { 
   font-weight: 900;
   color:red;
   font-size: 1.5em;
}

.similarTitle {
   font-weight: 700;
}
h3{
   margin:0;
}
.cartText span{ 
   color: rgb(193, 153, 84);
}

footer {
   margin-top: 1em;
   background-color: #E7E7E7;

}

.tight-form-group {  }

.list-group-item{
   border: 0;
}
#justOrdered div{
   padding: 0.3em 0 0.3em 0;
}
#justOrdered a{
   margin-right: 0.2em
}
#CustomerService .list-group-item{
   background: #E7E7E7;
}
#copyrightRow { 
   background-color: #3A3A3A; 
}